<html>
    <head>
        <link href = "styles/1.css" rel = "stylesheet" type="text/css">
        <title>
            {{pageTitle}}
        </title>
    </head>
   <body>
        <img src = "images/Dip-SoftwareEngineer.jpg" width = 1300px alt = "Diploma in software engineering">
        <h2><a href = "index2.html">Apply NOW!</a></h2>
    <ul>
        <li><b>ADMISSION REQUIREMENTS</b>
            <ul>
              <li>A-level certificate / pass-slip</li>
              <li>O-level certificate / pass-slip</li>   
            </ul>
        </li>
    </ul>
    <p><h4>Diploma in Software Engineering course has a syllabus that has been recommended by the Association for Computing Machinery (ACM) and Institute of Electrical and Electronics Engineers (IEEE).</h4></p>
    <table border="1px">
        <caption><b>What to stduy</b></caption>
        <tr>
            <th>Subject code</th>
            <th>Subject to study</th>
        </tr>
        <tr>
            <td>CS505</td> <td>Advanced programming</td>
        </tr>
        <tr>
            <td>CS506</td> <td>Contemporary issues in Computing</td>
        </tr>
        <tr>
                <td>CS511</td> <td>Information security</td>
        </tr>
        <tr>
            <td>CS500</td> <td>Research methods</td>
        </tr>
    </table>
    <form action="upload.php" method="post" enctype="multipart/form-data">
        <input type="file" name="fileToUpload" id="fileToUpload">
        <input type="submit" value="Upload Image" name="submit">
    </form>
    <p><b>TUTION:</b> 800,000Shs.</p>

  {{> footers}}
   </body>
</html>